@model ICI.ProvaCandidato.Web.Models.DTO.TagDTO

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["AlertMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <script>
            setTimeout(function () {
                $(".alert").alert('close');
            }, 4000);
        </script>
    </div>
}

@using (Html.BeginForm("CadastraTag", "Tag", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Descricao, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Descricao, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(m => m.Descricao, "", new { @class = "text-danger" })
    </div>

    <div>
        <br />
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
}

<a href="@Url.Action("ListaTags")">Voltar para lista de tags</a>